
.bm-burger-button {
  position: fixed;
  width: 40px;
  height: 32px;
  right: 38px;
  top: 20px;
  z-index: 10;
}
.bm-burger-bars {
  background: rgb(23, 91, 54);
  z-index: 10;
}
.bm-cross {
  background: #000000;
}
.bm-burger-bars-hover {
  background: #0aac50;
}

.bm-menu {
  background: #0aac50;
  padding: 1.5em 1em 0;
  font-size: 1.15em;
  width: 750px
}
.header {
  padding:10;
}
.empty-heart {
  position:absolute;
  top:0px;
  right:10px;
 font-size:30px;
 cursor: pointer;
} 
.empty {
  position:absolute;
  top:20px;
  right:30px;
  font-size:35px;
}
#card {
  position:relative;
}
.stay-vibes {
  font-size: 50px;
  align-content: center;
  padding: 10px
}

#root > .css-zv3073 {
  padding: 0px;
  margin: 0;
}
.logo {
  width:170px;
  align-items: center;
  cursor:pointer;
  margin-left:20px;
}

.review-text {
  font-weight:bold;
  color:black;
  margin-top:20px;
}
.deleteBtn {
  background-color: rgb(86, 85, 85);
  border-radius:5px;
  padding:6px;
  color:white;
  font-weight: bold;
  margin-left:10px;
}
.content {
  margin-left:50px;
}
.deleteBtn1 {
  background-color: red;
  border-radius:5px;
  padding:6px;
  color:white;
  font-weight: bold;
  margin-left:10px;
}
.navlinks {
  margin:10px;
}
.navlinks:hover {
  width:100px;
  padding:3px;
  border-radius:5px;
  color:white;
}
.favoriteHouse {
  margin-left:40px;
  margin-top:20px;
}