
.bm-burger-button {
  position: fixed;
  width: 40px;
  height: 32px;
  right: 38px;
  top: 20px;
  z-index: 10;
}


.bm-burger-bars {
  background: rgb(23, 91, 54);
  z-index: 11;
}
.bm-cross {
  background: #000000;
}


/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #0aac50;
}

/* General sidebar styles */
.bm-menu {
  background: #0aac50;
  padding: 1.5em 1em 0;
  font-size: 1.15em;
}
